/* Reset: margins, padding, box-sizing, links */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* VARS: Colors */
:root {
  --crl-grey-main: #313234; /* hsl(220, 3%, 20%) */
  --crl-grey-lighten: #3d3e41; /* hsl(220, 3%, 25%) */
  --crl-blue-accent: #00c3e5; /* hsl(189, 100%, 45%) */
}

/* Helper class */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*---------------*/
/*  H E A D E R  */
/*---------------*/
.header {
  background-color: var(--crl-grey-main);
  height: 50px;
}

.header__logo { /* header>nav>img */
  padding: 10px 0;
}

.header__navbar-list { /* header>nav>ul */
  list-style-type: none;
  padding: 0;
  float: right;
}

/* Clearfix for navbar-list */
.header>nav::before,
.header>nav::after {
  content: "";
  display: table;
  clear: both;
}

.header__navbar-item { /* header>nav>ul>li */
  display: inline-block;
}

.header__navbar-link {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
}

.header__navbar-link:hover {
  color: var(--crl-blue-accent);
  background-color: var(--crl-grey-lighten);
}

.header__navbar-link,
.header__navbar-link:hover {
  transition-duration: .3s;
}
