/* Reset: margins, padding, box-sizing, links */
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; /* fix to deal with negative horizontal margin in welcome section */
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* VARS: Colors */
:root {
  --crl-grey-main: #313234; /* hsl(220, 3%, 20%) */
  --crl-grey-lighten: #3d3e41; /* hsl(220, 3%, 25%) */
  --crl-blue-accent: #00c3e5; /* hsl(189, 100%, 45%) */
}

/* Helper class */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* -------- */
/*  HEADER  */
/* -------- */
.header {
  background-color: var(--crl-grey-main);
  height: 50px;
}

.header__logo { /* header>nav>img */
  padding: 10px 0;
}

.header__navbar-list { /* header>nav>ul */
  list-style-type: none;
  padding: 0;
  float: right;
}

.header__navbar-item { /* header>nav>ul>li */
  display: inline-block;
}

.header__navbar-link {
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
}

.header__navbar-link:hover {
  color: var(--crl-blue-accent);
  background-color: var(--crl-grey-lighten);
}

.header__navbar-link,
.header__navbar-link:hover {
  transition-duration: .3s;
}

/* ----------------- */
/*  SECTION: WELCOME */
/* ----------------- */
.sect-welcome {
  background-image: url(https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.sect-welcome__slogan-box {
  background-color: rgba(0, 0, 0, .5);
  margin: 120px -500px 120px 0;
  padding: 40px 520px 40px 20px;
  overflow: hidden;
  float: right;
}

.sect-welcome__slogan {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.sect-welcome__slogan--thin {
  font-weight: 300;
}

