/* Reset: margins, padding, box-sizing */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
  box-sizing: border-box; 
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Main styles */
section {
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-color: #313332;
  height: 113px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-header__logo {
  font-size: 60px;
  color: #fefefe;
  text-transform: uppercase;
}

.main-header__navbar ul {
  list-style-type: none;
}

.main-header__navbar-item {
  display: inline-block;
}

/* Helpersclass */

/* .container {
  min-height: 500vh;
  background-color: hsla(39, 97%, 71%, .5); 
} */


/* Project from Designer */
.template {
  width: 1926px;
  min-height: 4028px;
  margin: 0 auto;
  background-image: url(./temp/3-3-website-large.jpg);
  opacity: 0.3;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0;
  left: -175px
}