/* Basic setup */
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background-color: #34495e;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Box-sizing normalization */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  *,
  *::before,
  *::after {
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
              box-sizing: inherit;
}


/* Helpers class */
.container {
  width: 100%;
  padding: 2rem;
}

.u-hcenter {
  display: flex;
  justify-content: center;
}

/* Colors from: http://materialuicolors.co */
:root {
  --purple:	#8c3c9a;
  --yellow: #FFB300;
  --blue: #1E88E5;
  --white: #fafafa;
}


/* Buttons */
.btn {
  display: inline-block;
  min-width: 9rem;
  margin: .25rem;
  padding: .625rem;
  border: 2px solid;
  border-radius: 5px;
  background-position: 100% 0;
  background-size: 300%;
  text-align: center;
  font-weight: 500;
  color: inherit;
  transition-duration: .4s;
}

.btn:hover {
  color: var(--white);
  background-position: 0 0;
  transition-duration: .4s;
}

.btn--purple {
  color: var(--purple);
  border-color: var(--purple);
  background-image: linear-gradient(90deg, var(--purple) 50%, transparent 50%);
}

.btn--yellow {
  color: var(--yellow);
  border-color: var(--yellow);
  background-image: linear-gradient(45deg, var(--yellow) 50%, transparent 50%);
}

.btn--blue {
  color: var(--blue);
  border-color: var(--blue);
  background-image: linear-gradient(135deg, var(--blue) 50%, transparent 50%);
}