/* Basic setup */
body {
  margin: 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background-color: #E0E0E0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Colors */
/* Social media brands colors from: https://www.lockedowndesign.com/social-media-colors/ */
:root {
  --col-twitter: #1da1f2;
  --col-facebook: #3b5998;
  --col-google: #ea4335;
  --col-instagram: #c32aa3;
  --col-github: #4078c0;
}

.header {
  height: 40px;
  font-weight: 600;
  color: #505050;
}

.social {
  margin: 0 auto;
  max-width: 500px;
  padding: 50px;
}

.icon-btn {
  width: 75px;
  height: 75px;
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  transition-duration: 1s; 
  padding-top: 4px; /* Korekta pozycjonowania ikon w pionie */
}

.icon-btn.twitter {
  color: var(--col-twitter);
}

.icon-btn.facebook {
  color: var(--col-facebook);
}

.icon-btn.google-plus {
  color: var(--col-google);
}

.icon-btn.instagram {
  color: var(--col-instagram);
}

.icon-btn.github {
  color: var(--col-github);
}

/* Hover effects */
.icon-btn:hover i {
  color: #fff;
  transform: scale(1.10);
}

.icon-btn.twitter:hover {
  background-color: var(--col-twitter);
}

.icon-btn.facebook:hover {
  background-color: var(--col-facebook);
}

.icon-btn.google-plus:hover {
  background-color: var(--col-google);
}

.icon-btn.instagram:hover {
  background-color: var(--col-instagram);
}

.icon-btn.github:hover {
  background-color: var(--col-github);
}

.icon-btn:hover {
  transition-duration: .4s;
}