/* Box-sizing normalization */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  *,
  *::before,
  *::after {
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
              box-sizing: inherit;
}

/* Main styles */

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.container {
  margin: auto;
  max-width: 700px;
}

header {
  background-image: url(https://images.pexels.com/photos/700439/pexels-photo-700439.jpeg?auto=compress&cs=tinysrgb&h=700);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  line-height: .8;
  color: #fff;
  text-align: center;
}

header h1, header h2 {
  text-shadow: 4px 4px 8px #303030;
  font-weight: 400;
}

header h1 {
  font-size: 48px;
  text-transform: uppercase;
}

header h2 {
  font-size: 24px;
}

section {
  padding: 0 20px 0 20px;
}

section#about h2 {
  color: #009432;
}

section#tools h2, section#more-about h2 {
  color: #273c75;
}

section .highlighted {
  font-weight: 400;
  background-color:	#fffcb3;
  border-radius: 5px;
}

footer {
    margin-top: 60px;
    padding: 30px;
    background: #333333;
    text-align: center;
    font-weight: 400;
    color: #B0B5C4;
    text-shadow: 2px 2px 4px #202020;
}

footer a:link,
footer a:visited,
footer a:active {
  color: #B0B5C4;
  text-decoration: none;
}

footer a:hover {
  color: #ced1da;
}

footer i.fab {
  font-weight: 400;
  font-size: larger;
}
