/* Basic setup */
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  background-color: #7ed6df;
}

/* Helpers class */
.container {
  width: 100%;
  padding: 2rem;
}

.u-hcenter {
  display: flex;
  justify-content: center;
}

.u-vhcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stars */
.star8 {
  display: inline-block;
  margin: 2em;
  transform: rotate(22.5deg);
  /* transition: background linear .3s; /* A co ta linikja ma robić? */
}

.star8::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  transform: rotate(45deg);
}

.star8, 
.star8::before {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 6px solid;
}

.star8::after {
  content: "";
  width: 100%;
  height: 100%;
  margin:0;
  position: absolute;
  background-color: #fff;
}

.gold, 
.gold::before {
  border-color: #ffc107;
}

.orange, 
.orange::before {
  border-color: #fd7e33;
}

.blue, 
.blue::before {
  border-color: #3fb0ac;
}

i.fa,
i.far {
  color:#262626;
  width: 100%;
  height: 100%;
  margin:0;
  position: absolute;
  font-size: 60px;
  transform: rotate(-22.5deg);
  z-index: 1;
}

/* Hover effects */
.star8:hover::before,
.star8:hover::after {
  transition: ease-in-out .3s;
}

.gold:hover::before,
.gold:hover::after {
  background-color: #ffc107;
}

.orange:hover::before,
.orange:hover::after {
  background-color: #fd7e33;
}

.blue:hover::before,
.blue:hover::after {
  background-color: #3fb0ac;
}

.star8:hover i {
  color: #fff;
}